In [ ]:
import json
import pandas as pd 
import requests
from Common import sql_execute, sql_read

token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIzIiwianRpIjoiNTg4OGFiMTVhOWIzZjk4MjM4NmIwNjA5M2M5MzQ0ZWEwMDVlNGI2OTcwYjU5ZjBkYjdkMTMyMzcwNGYwOGJjZTgxNzY2NjljZjkxYzk5NGEiLCJpYXQiOjE3MzM1NTMxMDEuNzA0NTkxLCJuYmYiOjE3MzM1NTMxMDEuNzA0NTkzOSwiZXhwIjoyNjgwMjM3OTAxLjY5NTE1NjEsInN1YiI6IjExNjA1OSIsInNjb3BlcyI6W119.S7U4y2C5cpZfBr81JtEE8r9dAF7jAWYvw3JScGhgn3A_-iKjczJg1PshspZf9xk165Ax36H696t2y4KLfT1M_3EZ0Q0ndWRhcM9b6LLZ7I6NqUguUQDzlgIq7ljkiCOQ6SB2r7Sq6JvKJliho-yfI_Wmhio798kwQ8CvuZaJr7jlK36Eyju7M3vv4eJv7R6FZ8wU_TawBxkLOjstV3ToSp60TXeiCd4x2NsoYsWFw0LY0_gbfMsiybrnoZwHMdikdaUtQLs-IRUOJ1LBGrB_n0Yd_yJmnpIrqvC3Nsoy5yJEJH1e7HYLo_BcOxtKoUumxnKd1i8YTlF6DhuBOJUNqbuQ91cJkehqdGFium5J7jVXaQ8KGVrCcZ-YFY4GrrMyKQb4-JNZdZaOlnBKc-Q44sCLr6Xds_rxd8XQ_FlasdUNBySyrJh7DKncT7-majcMhez_7-Bq2juBXv6JlLijoHpgnh0Ci_6zuVo-W03WOvMl8z7zsTtULPv5DiAAlRVVx34kUHUQP8AGLTim7qdcxqcegidyMmkmpziK2CaT-DEz8Vvw_ytMOE5aYK59K_g1R84GSkN4Sny4e3VLN2QV5Px8LKKosG5JEXy9_jUP764ZIfju-dG_dizxKbRjIVPiozWnx8_TxpcMzY6lMElsnhFy3lXGpf0IKFHy7LsMR5U'
headers = {"Authorization": f"Bearer {token}"}

In [6]:
def Excellent_criteria(Division):   
    if Division == 'Middle school':
        response_s = requests.get("https://www.robotevents.com/api/v2/events/56495/skills?&page=1&per_page=250", headers=headers)
        response_q = requests.get("https://www.robotevents.com/api/v2/events/56495/divisions/1/rankings?&per_page=999", headers=headers)
    else:
        response_s = requests.get("https://www.robotevents.com/api/v2/events/56493/skills?&page=1&per_page=250", headers=headers)
        response_q = requests.get("https://www.robotevents.com/api/v2/events/56493/divisions/1/rankings?&per_page=999", headers=headers)
    data_s =response_s.json()
    data_q =response_q.json()

    sd_list = []
    sp_list = []
    for x in data_s['data']:
        if x['type'] == 'driver':
            sd_list.append([x['team']['name'],x['score']])
        else:
            sp_list.append([x['team']['name'],x['score']])

    q_list = []
    for x in data_q['data']:
        q_list.append([x['team']['name'],x['average_points']])

    df=pd.DataFrame(q_list,columns =['team', 'Qualification_score'])
    df = pd.merge(df, pd.DataFrame(sd_list,columns =['team', 'Driver_score']),on='team',how='left')
    df = pd.merge(df, pd.DataFrame(sp_list,columns =['team', 'Programming_score']),on='team',how='left')
    df =df.fillna(0)
    df['Skills_total'] = df['Driver_score']  + df['Programming_score'] 

    # Qualifications criteria
    q_q = df[['team','Qualification_score']].sort_values(by='Qualification_score',ascending=False)
    print(f'{Division} = 40 percent of teams is {int(round(len(q_q)*0.4,1))}')
    q_q = q_q[0:int(round(len(q_q)*0.4,1))].drop(columns=['Qualification_score'])
    q_q['Qualification_criteria'] = 1

    # Skills total criteria
    q_s = df[['team','Skills_total']].sort_values(by='Skills_total',ascending=False)
    q_s = q_s[0:int(round(len(q_s)*0.4,1))].drop(columns=['Skills_total'])
    q_s['Skills_criteria'] = 1

    # Programming skills criteria
    q_p = df[df['Programming_score']!=0][['team','Programming_score']].sort_values(by='Programming_score',ascending=False)
    print(f'{Division} -- 40 percent of teams With a programming skill above 0 is {int(round(len(q_q)*0.4,1))}')
    q_p = q_p[0:int(round(len(q_p)*0.4,1))].drop(columns=['Programming_score'])
    q_p['Programming_criteria'] = 1


    df = pd.merge(df, q_q,on='team',how='left')
    df = pd.merge(df, q_s,on='team',how='left')
    df = pd.merge(df, q_p,on='team',how='left')

    return df[(df['Qualification_criteria'].notnull())&(df['Skills_criteria'].notnull())&(df['Programming_criteria'].notnull())], df

In [3]:
ms_teams,ms_teams_full = Excellent_criteria('Middle school')
ms_teams

Middle school = 40 percent of teams is 12
Middle school -- 40 percent of teams With a programming skill above 0 is 4

,team,Qualification_score,Driver_score,Programming_score,Skills_total,Qualification_criteria,Skills_criteria,Programming_criteria
26,48495C,74.44,172,196,368,1.0,1.0,1.0
28,22020C,86.33,196,153,349,1.0,1.0,1.0
29,22020N,91.44,196,172,368,1.0,1.0,1.0
31,48495A,108.33,244,364,608,1.0,1.0,1.0

In [4]:
es_teams,es_teams_full = Excellent_criteria('Elementary')
es_teams

Elementary = 40 percent of teams is 14
Elementary -- 40 percent of teams With a programming skill above 0 is 5

,team,Qualification_score,Driver_score,Programming_score,Skills_total,Qualification_criteria,Skills_criteria,Programming_criteria
32,4250X,60.33,100.0,34.0,134.0,1.0,1.0,1.0
33,8757Z,62.44,76.0,33.0,109.0,1.0,1.0,1.0

In [27]:

Excellence_teams = pd.concat([ms_teams,es_teams])
Excellence_teams = Excellence_teams['team'].to_list()

df_teams = sql_read('select Team, Excellence_criteria from teams')


for index, row in df_teams.iterrows():
        if row['Team'] in Excellence_teams:
                criteria = 'yes'
        else:
                criteria = 'no'
        #print(row['Team'],criteria)
        sql_execute(f'''UPDATE teams  
                    SET Excellence_criteria = '{row['Excellence_criteria']}'
                        WHERE team='{row['Team']}';
                ''')