In [13]:
import sqlite3
import pandas as pd
import requests

from robot_events_api import *

In [14]:
df_Middle = get_team_list('Middle school')
df_Middle

      Team                   Team_name          Grade
0      58X                  Cyber Bots  Middle School
1    3168B                 Starfighter  Middle School
2    3204A  SPC Bots Andrew Kim Taegon  Middle School
3    3204B              SPC Bots Benno  Middle School
4    3204M          SPC Bots Marcellus  Middle School
5    3204T        SPC Bots Telesphorus  Middle School
6    4714A                 NCollege Y9  Middle School
7    4714B               NCollege Prep  Middle School
8    6936A                        XEV2  Middle School
9    6936B                   Davidsons  Middle School
10   8757V         STEAM-ED Robotics V  Middle School
11   8757X         STEAM-ED Robotics X  Middle School
12  14888D                  Tek Titans  Middle School
13  22020B           Chilling in Space  Middle School
14  22020C             Pixels in space  Middle School
15  22020N            The North Tunnel  Middle School
16  22020W                    The Pros  Middle School
17  35460A           Hillmorton Tigers  Middle School
18  35460B           Hillmorton Tigers  Middle School
19  48495A                   Rovers OG  Middle School
20  48495B                        Owls  Middle School
21  48495C           Cats Wearing Caps  Middle School
22  48495D               Supa Troopers  Middle School
23  48495E               The Blue Pens  Middle School
24  48495F               Instant Ramen  Middle School
25  48495G                 Voltage 3.0  Middle School
26  48495H                     Brobots  Middle School
27  48495K                       Hydra  Middle School
28  48495M                        R2V2  Middle School
29  48495N                   GeekyBotz  Middle School
30  81834A                       JedAI  Middle School
31  88397F                       Terry  Middle School

In [15]:
print('Generating new table from scratch')

df_Middle = get_team_list('Middle school')
df_Elementary = get_team_list('Elementary school')

df = pd.concat([df_Middle, df_Elementary])


df['Room'] = 'na'
df['judging_team'] = 'na'

df['notebook_link'] = 'na'

df['Notebook_status'] = 'Not submitted'
df['Notebook_status_2'] = ''

df['interview_status'] = 'Not started'


df['Interview_Total'] = 0
df['Notebook_Total'] = 0

df['Excellence_criteria'] = 'no'

df['N1'] = 0
df['N2'] = 0
df['N3'] = 0
df['N4'] = 0
df['N5'] = 0
df['N6'] = 0
df['N7'] = 0
df['N8'] = 0
df['N9'] = 0
df['N10'] = 0
df['N11'] = 0
df['N_notes'] = ''

df['I1'] = 0
df['I2'] = 0
df['I3'] = 0
df['I4'] = 0
df['I5'] = 0
df['I6'] = 0
df['I7'] = 0
df['I8'] = 0
df['I9'] = 0
df['I_notes'] = ''



db = r'judging_database.db'
conn = sqlite3.connect(db)
print(df.columns)
df.to_sql(name='teams', con=conn,if_exists='replace')


# db = r'judging_database.db'
# conn = sqlite3.connect(db)
# df_Schedule = conn.execute('DROP TABLE Schedule;')
# conn.close()


# Define the desired column names
column_names = ['Match number', 'Time', 'Team','Division','Room','Status','time_p']
# Create an empty DataFrame with the specified columns
df = pd.DataFrame(columns=column_names)

print(df.columns)
df.to_sql(name='Schedule', con=conn,if_exists='replace')

Generating new table from scratch
Index(['Team', 'Team_name', 'Grade', 'Room', 'judging_team', 'notebook_link',
       'Notebook_status', 'Notebook_status_2', 'interview_status',
       'Interview_Total', 'Notebook_Total', 'Excellence_criteria', 'N1', 'N2',
       'N3', 'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10', 'N11', 'N_notes', 'I1',
       'I2', 'I3', 'I4', 'I5', 'I6', 'I7', 'I8', 'I9', 'I_notes'],
      dtype='object')
Index(['Match number', 'Time', 'Team', 'Division', 'Room', 'Status', 'time_p'], dtype='object')

0

In [9]:
df

Empty DataFrame
Columns: [Match number, Time, Team, Division, Room, Status, time_p]
Index: []

In [4]:
db = r'judging_database.db'
conn = sqlite3.connect(db)
df_Schedule = pd.read_sql('select * from Schedule', conn)
conn.close()

df_Schedule

Empty DataFrame
Columns: [index, Match number, Time, Team, Division, Room, Status, time_p]
Index: []

In [11]:
conn = sqlite3.connect(db)
df_teams = pd.read_sql('select * from teams', conn)
conn.close()

df_teams

,index,Team,Team_name,Grade,Room,judging_team,notebook_link,Notebook_status,Notebook_status_2,interview_status,...,I1,I2,I3,I4,I5,I6,I7,I8,I9,I_notes
0,0,58X,Cyber Bots,Middle School,na,na,na,Not marked,,Not started,...,0,0,0,0,0,0,0,0,0,
1,1,3168B,Starfighter,Middle School,na,na,na,Not marked,,Not started,...,0,0,0,0,0,0,0,0,0,
2,2,3204A,SPC Bots Andrew Kim Taegon,Middle School,na,na,na,Not marked,,Not started,...,0,0,0,0,0,0,0,0,0,
3,3,3204B,SPC Bots Benno,Middle School,na,na,na,Not marked,,Not started,...,0,0,0,0,0,0,0,0,0,
4,4,3204M,SPC Bots Marcellus,Middle School,na,na,na,Not marked,,Not started,...,0,0,0,0,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,30,29137B,CE Poseidon,Elementary School,na,na,na,Not marked,,Not started,...,0,0,0,0,0,0,0,0,0,
63,31,76160A,Black Sparks,Elementary School,na,na,na,Not marked,,Not started,...,0,0,0,0,0,0,0,0,0,
64,32,81834B,JedAI Padawan,Elementary School,na,na,na,Not marked,,Not started,...,0,0,0,0,0,0,0,0,0,
65,33,88397D,SCP173,Elementary School,na,na,na,Not marked,,Not started,...,0,0,0,0,0,0,0,0,0,
66,34,98600A,Halcombe hornets,Elementary School,na,na,na,Not marked,,Not started,...,0,0,0,0,0,0,0,0,0,